<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.campus.myapp.dao.MemberDAO">
 	<select id="login" resultType="MemberVO"> <!-- 메소드명이 id, alias패키지 때문에 com.campus.myapp.vo. 생략가능 -->
 		select userid, username from member
 		where userid=#{userid} and userpwd=#{userpwd}
 	</select>
 </mapper>